@charset "utf-8";

/*!
 * Doumi
 * Author: liuyun
 * E-mail: liuyun@doumi.com
 */

@import "setting";
@import "mixins";
@import "global";

/* global
================================== */

html,
body {
    height: 100%;
}

html {
    font-size: $font-size-rem;
}

body {
    min-width: 320px;
    max-width: 1024px;
    background-color: $bg-color-base;
    margin: 0 auto;
}

body,
button,
input,
select,
textarea {
    color: $text-color-base;
    font: #{$font-size-base} #{$font-family-base};
}

a {
    color: $link-color-base;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

::-webkit-input-placeholder {
    color: $text-color-tiny;
}


/* common
================================== */

.fl {
    @include float;
}

.fr {
    @include float(right);
}

.clear {
    clear: both;
}

.clearfix {
    @extend %clearfix;
}

.hide {
    @include hide;
}

.show {
    @include show;
}

.disabled {
    color: $text-color-disabled;
    cursor: default;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-select {
    @include css3(user-select, none);
}


/* space
---------------------------------- */

.mod-space {
    margin-top: $gap-base;
}

/* page
---------------------------------- */
.mod-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* content
---------------------------------- */
.mod-content {
    box-sizing: border-box;
    min-height: 100%;

    @at-root {
        .mod-header-fixed ~ & {
            padding-top: px2rem(60px);
        }

        .mod-footbar-fixed ~ & {
            padding-bottom: px2rem(50px);
        }
    }
}